<div class ="row">
    <div class="col-sm-4">
        <form action="/admin/categories/edit/{{edit.id}}?_method=PUT" method ="post">
            <div class="form-group">
                <label>Edit Category</label>
                <input type="text" value="{{ edit.name }}" class="form-control" placeholder="Edit Category" name="name">
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Edit Category</button>
            </div>
        </form>
    </div>